<h1 class="text-center">{{campaign.campaignName}}</h1>

<br>
<h4>*Dungeon Master Tools*</h4>
<a routerLink="../dungeonmaster"><button type="button">To Dungeon Master View</button></a>
<br><br>

<div class="row">
    <div class="col-md-3">
        <div class="jumbotron">
            <div class="btn-group text-center">
                <button type="button" (click)="diceClick('d4')">Roll d4</button>
                <button type="button" (click)="diceClick('d6')">Roll d6</button>
                <button type="button" (click)="diceClick('d8')">Roll d8</button>
                <button type="button" (click)="diceClick('d10')">Roll d10</button>
                <button type="button" (click)="diceClick('d12')">Roll d12</button>
                <button type="button" (click)="diceClick('d20')">Roll d20</button>
                <button type="button" (click)="diceClick('d100')">Roll d100</button>
            </div>
            <div *ngIf="dice">
                Rolled a {{dice.type}}, Result = {{dice.value}}
            </div>
            <div>
                <h4 class="text-center">Previous 10 Rolls</h4>
                <table class="table table-hover table-striped text-center">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let die of diceRolls">
                        <tr>
                            <td>{{die.type}}</td>
                            <td>{{die.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="jumbotron">
                <iframe [src]="groupBoardUrl | safe" width="100%" height="600" scrolling="no" frameborder="0"></iframe>
        </div>
    </div>
</div>

<br>

<h2>Player Notes *Not Saved Between Sessions*</h2>
<textarea cols="75%" rows=5></textarea>

<br>

<button type="button" (click)="getCharacters()">Load/Refresh Character List</button>
<div class="row">
    <div class="col-md-4">
        <div class="jumbotron">
            <div *ngIf="char1">
                <div class="container-fluid">
                    <div class="col-md-6">
                        <strong>{{char1.charName}}</strong> <br>
                        Level: <input type="text" [(ngModel)]="char1.charLvl" /><br>
                        Race: {{char1.charRace}}<br>
                        Class: {{char1.charClass}}<br>
                        Experience: <input type="text" [(ngModel)]="char1.charExp" />
                    </div>
                    <div class="col-md-6">
                        <strong>Attributes</strong><br>
                        Strength: {{char1.str}}<br>
                        Dexterity: {{char1.dex}}<br>
                        Constitution: {{char1.con}}<br>
                        Intelligence: {{char1.int}}<br>
                        Wisdom: {{char1.wis}}<br>
                        Charisma: {{char1.cha}}<br>
                    </div> 
                </div>
                <br>
                <div class="container-fluid">
                    <div class="col-md-6">
                        <strong>Equipment</strong> <br>
                        <textarea [(ngModel)]="char1.equipment"></textarea>
                    </div>
                    <div class="col-md-6">
                        <strong>Skill/Spells</strong><br>
                        <textarea [(ngModel)]="char1.skills"></textarea>
                    </div> 
                </div> 
                <button type="button" (click)="saveChar(char1)">Save Character</button>
            </div>
            <span *ngIf="!char1"><a routerLink="../character"><button type="button">Add Character</button></a></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <div *ngIf="char2">
            <div class="container-fluid">
                    <div class="col-md-6">
                        <strong>{{char2.charName}}</strong> <br>
                        Level: <input type="text" [(ngModel)]="char2.charLvl" /><br>
                        Race: {{char2.charRace}}<br>
                        Class: {{char2.charClass}}<br>
                        Experience: <input type="text" [(ngModel)]="char2.charExp" />
                    </div>
                    <div class="col-md-6">
                        <strong>Attributes</strong><br>
                        Strength: {{char2.str}}<br>
                        Dexterity: {{char2.dex}}<br>
                        Constitution: {{char2.con}}<br>
                        Intelligence: {{char2.int}}<br>
                        Wisdom: {{char2.wis}}<br>
                        Charisma: {{char2.cha}}<br>
                    </div> 
                </div>
                <br>
                <div class="container-fluid">
                    <div class="col-md-6">
                        <strong>Equipment</strong> <br>
                        <textarea [(ngModel)]="char2.equipment"></textarea>
                    </div>
                    <div class="col-md-6">
                        <strong>Skill/Spells</strong><br>
                        <textarea [(ngModel)]="char2.skills"></textarea>
                    </div> 
                </div> 
                <button type="button" (click)="saveChar(char2)">Save Character</button>
            </div>
            <span *ngIf="!char2"><a routerLink="../character"><button type="button">Add Character</button></a></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <div *ngIf="char3">
            <div class="container-fluid">
                    <div class="col-md-6">
                        <strong>{{char3.charName}}</strong> <br>
                        Level: <input type="text" [(ngModel)]="char3.charLvl" /><br>
                        Race: {{char3.charRace}}<br>
                        Class: {{char3.charClass}}<br>
                        Experience: <input type="text" [(ngModel)]="char3.charExp" />
                    </div>
                    <div class="col-md-6">
                        <strong>Attributes</strong><br>
                        Strength: {{char3.str}}<br>
                        Dexterity: {{char3.dex}}<br>
                        Constitution: {{char3.con}}<br>
                        Intelligence: {{char3.int}}<br>
                        Wisdom: {{char3.wis}}<br>
                        Charisma: {{char3.cha}}<br>
                    </div> 
                </div>
                <br>
                <div class="container-fluid">
                    <div class="col-md-6">
                        <strong>Equipment</strong> <br>
                        <textarea [(ngModel)]="char3.equipment"></textarea>
                    </div>
                    <div class="col-md-6">
                        <strong>Skill/Spells</strong><br>
                        <textarea [(ngModel)]="char3.skills"></textarea>
                    </div> 
                </div> 
                <button type="button" (click)="saveChar(char3)">Save Character</button>
            </div>
            <span *ngIf="!char3"><a routerLink="../character"><button type="button">Add Character</button></a></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="jumbotron">
            <div *ngIf="char4">
                <div class="container-fluid">
                        <div class="col-md-6">
                            <strong>{{char4.charName}}</strong> <br>
                            Level: <input type="text" [(ngModel)]="char4.charLvl" /><br>
                            Race: {{char4.charRace}}<br>
                            Class: {{char4.charClass}}<br>
                            Experience: <input type="text" [(ngModel)]="char4.charExp" />
                        </div>
                        <div class="col-md-6">
                            <strong>Attributes</strong><br>
                            Strength: {{char4.str}}<br>
                            Dexterity: {{char4.dex}}<br>
                            Constitution: {{char4.con}}<br>
                            Intelligence: {{char4.int}}<br>
                            Wisdom: {{char4.wis}}<br>
                            Charisma: {{char4.cha}}<br>
                        </div> 
                    </div>
                    <br>
                    <div class="container-fluid">
                        <div class="col-md-6">
                            <strong>Equipment</strong> <br>
                            <textarea [(ngModel)]="char4.equipment"></textarea>
                        </div>
                        <div class="col-md-6">
                            <strong>Skill/Spells</strong><br>
                            <textarea [(ngModel)]="char4.skills"></textarea>
                        </div> 
                    </div> 
                    <button type="button" (click)="saveChar(char4)">Save Character</button>
                </div>
            <span *ngIf="!char4"><a routerLink="../character"><button type="button">Add Character</button></a></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <div *ngIf="char5">
                    <div class="container-fluid">
                            <div class="col-md-6">
                                <strong>{{char5.charName}}</strong> <br>
                                Level: <input type="text" [(ngModel)]="char5.charLvl" /><br>
                                Race: {{char5.charRace}}<br>
                                Class: {{char5.charClass}}<br>
                                Experience: <input type="text" [(ngModel)]="char5.charExp" />
                            </div>
                            <div class="col-md-6">
                                <strong>Attributes</strong><br>
                                Strength: {{char5.str}}<br>
                                Dexterity: {{char5.dex}}<br>
                                Constitution: {{char5.con}}<br>
                                Intelligence: {{char5.int}}<br>
                                Wisdom: {{char5.wis}}<br>
                                Charisma: {{char5.cha}}<br>
                            </div> 
                        </div>
                        <br>
                        <div class="container-fluid">
                            <div class="col-md-6">
                                <strong>Equipment</strong> <br>
                                <textarea [(ngModel)]="char5.equipment"></textarea>
                            </div>
                            <div class="col-md-6">
                                <strong>Skill/Spells</strong><br>
                                <textarea [(ngModel)]="char5.skills"></textarea>
                            </div> 
                        </div> 
                        <button type="button" (click)="saveChar(char5)">Save Character</button>
                </div>
            <span *ngIf="!char5"><a routerLink="../character"><button type="button">Add Character</button></a></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <div *ngIf="char6">
                    <div class="container-fluid">
                            <div class="col-md-6">
                                <strong>{{char6.charName}}</strong> <br>
                                Level: <input type="text" [(ngModel)]="char6.charLvl" /><br>
                                Race: {{char1.charRace}}<br>
                                Class: {{char1.charClass}}<br>
                                Experience: <input type="text" [(ngModel)]="char6.charExp" />
                            </div>
                            <div class="col-md-6">
                                <strong>Attributes</strong><br>
                                Strength: {{char6.str}}<br>
                                Dexterity: {{char6.dex}}<br>
                                Constitution: {{char6.con}}<br>
                                Intelligence: {{char6.int}}<br>
                                Wisdom: {{char6.wis}}<br>
                                Charisma: {{char6.cha}}<br>
                            </div> 
                        </div>
                        <br>
                        <div class="container-fluid">
                            <div class="col-md-6">
                                <strong>Equipment</strong> <br>
                                <textarea [(ngModel)]="char6.equipment"></textarea>
                            </div>
                            <div class="col-md-6">
                                <strong>Skill/Spells</strong><br>
                                <textarea [(ngModel)]="char6.skills"></textarea>
                            </div> 
                        </div>
                        <button type="button" (click)="saveChar(char6)">Save Character</button> 
                </div>
            <span *ngIf="!char6"><a routerLink="../character"><button type="button">Add Character</button></a></span>
        </div>
    </div>

</div>