<div class="row">
    <div class="col-md-3">
        <div class="jumbotron">
            <div class="btn-group">
                <button type="button" (click)="roll('d4')">Roll d4</button>
                <button type="button" (click)="roll('d6')">Roll d6</button>
                <button type="button" (click)="roll('d8')">Roll d8</button>
                <button type="button" (click)="roll('d10')">Roll d10</button>
                <button type="button" (click)="roll('d12')">Roll d12</button>
                <button type="button" (click)="roll('d20')">Roll d20</button>
                <button type="button" (click)="roll('d100')">Roll d100</button>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="jumbotron">
                <iframe src="//www.groupboard.com/gb/769351" width="100%" height="600" scrolling="no" frameborder="0"></iframe>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-2">
        <div class="jumbotron">
            Character 1
        </div>
    </div>
    <div class="col-md-2">
        <div class="jumbotron">
            Character 2
        </div>
    </div>
    <div class="col-md-2">
        <div class="jumbotron">
            Character 3
        </div>
    </div>
    <div class="col-md-2">
        <div class="jumbotron">
            Character 4
        </div>
    </div>
    <div class="col-md-2">
        <div class="jumbotron">
            Character 5
        </div>
    </div>
    <div class="col-md-2">
        <div class="jumbotron">
            Character 6
        </div>
    </div>

</div>