<div class = "panel panel-default">
    <div>
        <div class="panel-heading">
            <span class="label label-default label-center">Character Creation</span>
        </div>
        <div class="panel-body">
            <div class="col-md-3">
                <h3 class="text-center">Race:</h3> 
                <button type="button" (click)="getRace()">Random Race</button><br><br>
                <input type="text" [(ngModel)]="character.charRace"/>
                <a href="https://forgottenrealms.fandom.com/wiki/{{character.charRace}}" target="_blank"><i class="glyphicon glyphicon-question-sign"></i></a><br><br>
                <h3 class="text-center">Name:</h3> 
                <button type="button" (click)="getName()">Random Name</button><br><br> 
                <input type="text" [(ngModel)]="character.charName"/><br><br>                                            
                <h3 class="text-center">Class:</h3>
                <button type="button" (click)="getClass()">Random Class</button><br><br>
                <input type="text" [(ngModel)]="character.charClass"/>
                <a href="https://forgottenrealms.fandom.com/wiki/{{character.charClass}}" target="_blank"><i class="glyphicon glyphicon-question-sign"></i></a><br>
            </div>  
            <div class="col-md-3">
                <h3 class="text-center">Equipment:</h3>
                <button type="button" (click)="getEquipment()">Class lvl1 Equipment</button><br><br> 
                <textarea rows="20" cols="40" [(ngModel)]="character.equipment"></textarea><br><br>                   
            </div>
            <div class="col-md-3">        
                    <h3 class="text-center"> Skills/Spells:</h3> <br><br>
                    <textarea [(ngModel)]="character.skills" rows="20" cols="40"></textarea>
                </div>
            <div class="col-md-3">
                <h3 class="text-center">Ability Score: <a href="https://www.dandwiki.com/wiki/5e_SRD:Ability_Scores" target="_blank"><i class="glyphicon glyphicon-question-sign"></i></a></h3>
                <button type="button" (click)="getStats()">Random Ability</button><br><br>
                Str: <input type="text" [(ngModel)]="character.str"/><br><br>
                Dex: <input type="text" [(ngModel)]="character.dex"/><br><br>
                Con: <input type="text" [(ngModel)]="character.con"/><br><br>
                Int: <input type="text" [(ngModel)]="character.int"/><br><br>
                Wis: <input type="text" [(ngModel)]="character.wis"/><br><br>
                Cha: <input type="text" [(ngModel)]="character.cha"/><br><br>
                <button type="button" (click)="saveCharacter()">Create Character</button>
                <span *ngIf="savedCharacter">{{savedCharacter}}</span>
                
            </div>
        </div>
    </div>
</div>