<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">D&D Platform</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/createCampaign">Create Campaign</a></li>
			<li><a routerLink="/loginCampaign">Login to Campaign</a></li>
      <li><a routerLink="/party">Party Screen (testing purposes/remove before deploying)</a></li>
      <li><a routerLink="/monster">Monster Screen (testing purposes/remove before deploying)</a></li>
    </ul>
  </div>
</nav>