<div class="row">
    <div class="col-md-3">
        <div class="jumbotron">
            <div class="btn-group text-center">
                <button type="button" (click)="diceClick('d4')">Roll d4</button>
                <button type="button" (click)="diceClick('d6')">Roll d6</button>
                <button type="button" (click)="diceClick('d8')">Roll d8</button>
                <button type="button" (click)="diceClick('d10')">Roll d10</button>
                <button type="button" (click)="diceClick('d12')">Roll d12</button>
                <button type="button" (click)="diceClick('d20')">Roll d20</button>
                <button type="button" (click)="diceClick('d100')">Roll d100</button>
            </div>
            <div *ngIf="dice">
                Rolled a {{dice.type}}, Result = {{dice.value}}
            </div>
            <div>
                <h4 class="text-center">Previous 10 Rolls</h4>
                <table class="table table-hover table-striped text-center">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let die of diceRolls">
                        <tr>
                            <td>{{die.type}}</td>
                            <td>{{die.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-9">
      <div class="jumbotron">
        <iframe [src]="groupBoardUrl | safe" width="100%" height="600" scrolling="no" frameborder="0"></iframe>
      </div>
    </div>
</div>


<select [(ngModel)]="monster.url">
  <option *ngFor="let monsterOption of monsterList" [value]="monsterOption.url">{{monsterOption.name}}</option>
</select>
<button type="button" (click)="getMonster()">Show Monster</button>


<div class="panel panel-default">
  <div>
    <div class="panel-heading">
      <a href="https://forgottenrealms.fandom.com/wiki/{{monster.name}}" target="_blank"><span class="label label-default label-center">{{monster.name}}</span></a>
    </div>
    <div class="panel-body" *ngIf="monster.name != ''">
      <div class="col-md-2">
        <h3 class="text-center">Attributes</h3>
        Strength: {{monster.strength}}<br>
        Dexterity: {{monster.dexterity}}<br>
        Constitution: {{monster.constitution}}<br>
        Intelligence: {{monster.intelligence}}<br>
        Wisdom: {{monster.wisdom}}<br>
        Charisma: {{monster.charisma}}<br><br>
        <h3 class="text-center">Stats</h3>
        Size: {{monster.size}}<br>
        Speed: {{monster.speed}}<br>
        Armor Class: {{monster.armor_class}}<br>
        Hit Points: {{monster.hit_points}}<br>
        Hit Dice: {{monster.hit_dice}}<br>
        Perception: {{monster.perception}}<br>
        Senses: {{monster.senses}}<br>
        <h3 class="text-center">Vulnerabilities/Immunities</h3>
        Damage Vulnerabilities: {{monster.damage_vulnerabilities}}<br>
        Damage Resistance: {{monster.damage_resistance}}<br>
        Damage Immunities: {{monster.damage_immunities}}<br>
        Condition Immunities: {{monster.condition_immunities}}<br>
      </div>
      <div class="col-md-5">
        <h3 class="text-center">Actions</h3>
        <div class="jumbotron" *ngFor="let action of actions">
          <span *ngIf="action.name"><strong>{{action.name}}</strong></span><br>
          <span *ngIf="action.desc">Description: {{action.desc}}<br></span>
          <span *ngIf="action.attack_bonus">Attack Bonus: {{action.attack_bonus}}<br></span>
          <span *ngIf="action.damage_bonus">Damage Bonus: {{action.damage_bonus}}<br></span>
          <span *ngIf="action.damage_dice">Damage Dice: {{action.damage_dice}}<br></span>
        </div>
      </div>
      <div class="col-md-5">
        <h3 class="text-center">Legendary Actions</h3>
        <div class="jumbotron" *ngFor="let legendaryAction of legendaryActions">
          <span *ngIf="legendaryAction.name"><strong>{{legendaryAction.name}}</strong></span><br>
          <span *ngIf="legendaryAction.desc">Description: {{legendaryAction.desc}}<br></span>
          <span *ngIf="legendaryAction.attack_bonus">Attack Bonus: {{legendaryAction.attack_bonus}}<br></span>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <h3 class="text-center">Special Abilities</h3>
        <div class="jumbotron" *ngFor="let specialAbility of specialAbilities">
          <span *ngIf="specialAbility.name"><strong>{{specialAbility.name}}</strong></span><br>
          <span *ngIf="specialAbility.desc">Description: {{specialAbility.desc}}<br></span>
          <span *ngIf="specialAbility.attack_bonus">Attack Bonus: {{specialAbility.attack_bonus}}<br></span>
        </div>
      </div>
    </div>
  </div>
</div>
