<div>
    <div class="panel-heading">
        <span class="label label-default label-center">{{title}}</span>
    </div>
    <div class="panel-body">
    <img class="image-center" src="{{image}}" />
    <div class="list-group">
        <div class="list-group-item">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            <strong>Suggested Beginner Campaigns for DMs</strong>
        </div>
        <div class="list-group-item">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            <strong>Create a Campaign</strong>
        </div>
        <div class="list-group-item">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            <strong>Join Your Campaign</strong>
        </div>
    </div>
</div>