<div>
    <div class="panel-heading">
        <span class="label label-default label-center">{{title}}</span>
    </div>
    <div class="panel-body">
    <img class="image-center" src="{{image}}" />
    <div class="list-group">
        <div class="list-group-item">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            <a [href]="beginnerCampaigns" target="_blank"><strong>Suggested Beginner Campaigns for DMs</strong></a>
        </div>
        <div class="list-group-item">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            <a routerLink="/createCampaign"><strong>Create a Campaign</strong></a>
        </div>
        <div class="list-group-item">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            <a routerLink="/loginCampaign"><strong>Join Your Campaign</strong></a>
        </div>
    </div>
</div>